.item-card {
  position: relative;
  height: 500px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  list-style-type: none;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 365px;
  max-width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item-card__content {
  padding: 16px;
  flex: 1;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-card__restaurant-name {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.item-card__restaurant-cuisine {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.item-card__restaurant-address {
  margin: 0;
  font-size: 14px;
  color: #6a6a6a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.item-card__restaurant-website {
  margin: 0;
  font-size: 14px;
  color: #6a6a6a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.item-card__restaurant-website a {
  color: #2c64e9;
  text-decoration: none;
}

.item-card__restaurant-website a:hover {
  text-decoration: underline;
}

.item-card__image-container {
  height: 60%;
  overflow: hidden;
}

.item-card__restaurant-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.item-card:hover .item-card__restaurant-image {
  transform: scale(1.05);
}
