.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 28px; /* top, left/right, bottom */
}

.header__info {
  display: flex;
  column-gap: 24px;
}

.header__logo {
  width: 50px;
  height: 50px;
  transition: opacity linear 0.2s;
}

.header__logo:hover {
  opacity: 0.5;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  align-content: center;
  margin: 0;
  padding: 0;
}

.header__search-bar {
  margin-left: 20px;
}

.header__add-restaurant-button {
  margin: 0 20px 0 auto;

  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  background: none;
  border: none;
  align-content: center;
  width: max-content;
  padding: 0;
  transition: opacity linear 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.header__add-restaurant-button:hover {
  opacity: 0.5;
}

.header__link {
  text-decoration: none;
  color: #000000;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: opacity linear 0.2s;
}

.header__user-container:hover {
  opacity: 0.5;
}

.header__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  align-content: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
